body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #bb86fc;
}

pre {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: monospace;
    color: #ff79c6;
}

ul {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}